*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Noto Sans TC", sans-serif;
  color: #fff;
  background-color: #fff;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 48px;
  font-weight: bold;

  @include mobile {
    font-size: 24px;
  }
}

h3 {
  font-size: 36px;

  @include mobile {
    font-size: 16px;
  }
}

.title-sub {
  padding-left: 16px;
  border-left: 8px solid #9f1213;

  @include mobile {
    margin-left: 13px;
  }
}
