aside {
  color: $gray-900;
  background-color: $gray-100;
  max-width: 296px;

  a {
    color: $gray-900;
    text-decoration: none;

    &:hover {
      color: $success;
    }

    &.active {
      color: $success;
      padding-left: 28px;
      margin-left: -32px;
      border-left: 4px solid $success;
    }

    span {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
    }
  }

  .user {
    &-img {
      width: 40px;
      height: 40px;
    }

    &-email {
      font-size: 14px;
      color: $gray-600;
      line-height: 24px;
    }
  }
}
