span {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

aside {
  position: fixed;
  color: $gray-900;
  background-color: $gray-100;
  width: 296px;

  a {
    color: $gray-900;
    text-decoration: none;

    &:hover {
      color: $success;
    }

    &.active {
      color: $success;
      padding-left: 28px;
      margin-left: -32px;
      border-left: 4px solid $success;
    }
  }

  .user {
    &-img {
      width: 40px;
      height: 40px;
    }

    &-email {
      font-size: 14px;
      color: $gray-600;
      line-height: 24px;
    }
  }
}

main {
  margin-left: 296px;

  header {
    h2 {
      font-size: 24px;
      color: $gray-900;
    }

    .btn {
      padding: 0 !important;

      &-add {
        &:hover {
          color: $success;
        }
      }
    }

    a {
      display: block;
      width: 24px;
      height: 24px;
      color: $gray-900;

      &:hover {
        color: $success;
      }
    }
  }

  table {
    th,
    td {
      padding: 18px 0 !important;
    }

    tbody > tr > th {
      font-weight: normal;
    }

    .icon {
      font-size: 18px;
      color: $success;
    }
  }

  .pagination {
    .page-item {
      &:first-child .page-link,
      &:last-child .page-link {
        color: $success !important;

        &:hover {
          color: white !important;
        }
      }
    }

    .page-link {
      color: $gray-900 !important;
      border-color: $success;
      width: 32px;
      height: 32px;
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $success;
        color: white !important;
      }
    }

    .active {
      background-color: $success;
      color: white !important;
    }
  }
}
