@use "sass:math";

// 格線系統
.container {
  /* 1296 + 24 = 1320 */
  max-width: 1320px;
  margin: 0 auto;

  /* 左右 padding */
  padding: 0 calc(var(--gutter) / 2);
}

.row {
  display: flex;

  // 給 margin 設定 -12px，來將 col 多出來的 padding 抵銷掉
  margin-left: calc(var(--gutter) / 2 * -1);
  margin-right: calc(var(--gutter) / 2 * -1);

  // 給 row 中所有 col 增加 padding 作為 gutter
  & > * {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

$max-lg: 12;
$max-md: 12;
$max-sm: 4;

@for $i from 1 through $max-lg {
  .col-#{$i} {
    flex: 0 0 auto;
    width: math.div($i, $max-lg) * 100%;
  }
}

/* md 是 middle，在這裡是示意為平板寬度 */

/* 在 iPad 直式下變更樣式 */
@include pad {
  .container {
    /* 696 + 24 = 720 */
    max-width: 720px;
  }

  @for $i from 1 through $max-md {
    .col-md-#{$i} {
      flex: 0 0 auto;
      width: math.div($i, $max-md) * 100%;
    }
  }

  /* 768px 以下時加入 margin-bottom: 24px;，讓垂直排列的元素間隔 24px */
  .mb-md-6 {
    margin-bottom: 24px;
  }
}

/* sm 是 small，在這裡是示意為手機寬度 */

/* 在 iPhone11 直式下變更樣式 */
@include mobile {
  .container {
    /* 348 + 24 = 372 */
    max-width: 372px;
  }

  @for $i from 1 through $max-sm {
    .col-sm-#{$i} {
      flex: 0 0 auto;
      width: math.div($i, $max-sm) * 100%;
    }
  }
}
