header {
  padding: 16px 0;
  background-color: $color-primary;

  h1 > a {
    background-image: url("@/assets/img/logo-white.png");
    display: block;
    width: 80px;
    height: 49px;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

  li > a {
    display: block;
    padding: 12.5px 20px;
    transition: 0.2s;

    &[href="qa.html"] {
      padding-right: 0;
    }

    &:hover {
      color: rgb(255 255 255 / 50%);
    }
  }
}

@include mobile {
  header {
    padding: 0;

    .container {
      padding: 0;
    }

    h1 {
      margin: 16px 0 16px 16px;
    }

    li {
      border: 1px solid #fff;

      a {
        text-align: center;

        &[href="qa.html"] {
          padding: 12.5px 20px;
        }
      }
    }
  }
}
